<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchTerms"/>
          </div>
          <button class="btn btn-primary add-listing_open">
            <span class="glyphicon glyphicon-plus"></span>
            Add Listing
          </button>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th>Code</th>
                <th>Building Name</th>
                <th></th>
              </tr>
                <tr class="slide" ng-repeat="listing in listings | filter:searchTerms" ng-click="showDetails(listing)">
                    <td>{{listing.code}}</td>
                    <td>{{listing.name}}</td>
                    <td><button ng-click="deleteListing(listing.code)" class="btn btn-primary" value="Delete">
                     <span class="glyphicon glyphicon-trash"></span>
                      Delete
                    </button></td>
                </tr>
            </table>
          </div>
          <div id="add-listing" class="well">
            <h2>Add Listing</h2>
            <form class="form">
              <div class="form-group">
                <label class="col-2 col-form-label">Code: </label>
                <div class="col-5">
                  <input type="text" class="form-control" ng-model="listing.code" required=true/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-2 col-form-label">Building:</label>
                <div class="col-5">
                  <input type="text" class="form-control" ng-model="listing.name" required=true/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-1 col-form-label">Lat: </label>
                <div class="col-5">
                  <input type="text" class="form-control" ng-model="listing.coordinates.latitude"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-2 col-form-label">Long: </label>
                <div class="col-5">
                  <input type="text" class="form-control" ng-model="listing.coordinates.longitude"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-2 col-form-label">Address:</label>
                <div class="col-5">
                  <input type="text" class="form-control" ng-model="listing.address"/>
                </div>
              </div>
              <div class="form-group">
                <input ng-click="addListing(listing)" class="btn btn-primary add-listing_close" value="Add"></input>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <h2>Detailed Information</h2>
             <p>Code: <strong>{{detailedInfo.code}}</strong></p>
             <p>Building: <strong>{{detailedInfo.name}}</strong></p>
             <p>Lat: <strong>{{detailedInfo.coordinates.latitude}}</strong></p>
             <p>Long: <strong>{{detailedInfo.coordinates.longitude}}</strong></p>
             <p>Address: <strong>{{detailedInfo.address}}</strong></p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
    <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>
    <script>
      $(document).ready(function() {
        $('#add-listing').popup(
          {
            "opacity": 0.5
          }
        );
      });
    </script>
  </body>
</html>